terraform {
  backend "azurerm" {
    resource_group_name  = "rg-bcbp-tfstate"
    storage_account_name = "stbcbptfstate"
    container_name       = "tfstate"
    key                  = "example-saas/dev.tfstate"
  }
}
